.carro *{
    position: relative;
}

@media screen and (max-width: 900px){
    .carro{
        display: block;
        width: 260px !important;
        height: auto;
    }

    .carro thead{
        display: none;

    }

    .carro > *, .carro tr, .carro td{
        display: block;
    }

    .carro tbody tr td{
        padding-left: 35% !important;
        margin-bottom: -15px;
    }

    .carro tbody tr td:last-child{
        margin-bottom: 0;
    }

    .carro tbody tr td:before{
        color: #999 ;
        font-weight: unset;
        position: absolute;
        left: 10px;
        top: 10px;

    }

    .carro tbody tr{
        font-size: 14px;
    }

    .carro tbody tr td:nth-child(1):before{
        content: 'Codigo: ';
        font-weight: bold;
        color: #000;
    }
    .carro tbody tr td:nth-child(2):before{
        content: 'Nombre: ';
        font-weight: bold;
        color: #000;
    }
    .carro tbody tr td:nth-child(3):before{
        content: 'Compos: ';
        font-weight: bold;
        color: #000;
    }
    .carro tbody tr td:nth-child(4):before{
        content: 'Present: ';
        font-weight: bold;
        color: #000;
    }
    .carro tbody tr td:nth-child(5):before{
        content: 'Precio: ';
        font-weight: bold;
        color: #000;
    }

    .carro tbody tr td:nth-child(6):before{
        content: 'Eliminar ';
        font-weight: bold;
        color: #000;
    }
}

.tx-carrito{
    position: relative;
    display: inline-block;
    text-align: center;
}

.contador{
    position: absolute;
    top: 0px;
    right: 3px;
}

.logosf{
    width: 6rem;
    margin: 10px 30px;

}

@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .brand-text, .sidebar-mini.sidebar-collapse img, 
    .sidebar-mini.sidebar-collapse>.logosf {
        width: 3rem;
    margin: 15px 10px;
    }

}

/* #barrasup{
    background: linear-gradient(360deg, #5f94e4 0%, #346ec8 100%);

} */


/* CONTADOR */
#tabla_products .input-group.inline-group.forse{
    width: 135px;
    margin-right: 0px;


}
.inline-group {
    max-width: 9rem;
    padding: .5rem;
  }
  
  .inline-group .form-control {
    text-align: right;
  }
  
  .form-control[type="number"]::-webkit-inner-spin-button,
  .form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}
